body {
    margin: 0%;
}
.top-bar {
    padding: 10px 30px;
    color: white;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.top-right {
    display: flex;
    gap: 20px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
}
.hero {
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    color: white;
}
.Hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products {
    display: flex;
    gap: 20px;
    justify-content: center;
}   

.card {
  width: 280px;
  border: none;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
  background-color: white;
}

.card:hover {
    transform: translateY(-10px);
}

.card p {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.products {
    padding: 50px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
  margin: 0;
  color: black;
}
.nav {
    gap: 400px;
    display: flex;
    justify-content: center;
}
h2 { text-align: center;
    text-decoration: underline;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
nav {
    display: flex;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}
nav a:hover {
    color: gray;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}
body {
    font-family: 'Poppins', sans-serif;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #333;
}